#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;


}

.pokemon-img {
  background-color: white;
  border-radius: 3%;
  box-shadow: inset 0 0 10px 5px black;
  width: 800px;
}

h1 {
  color: white;

}

div {
  background-color: rgb(53, 105, 65);
  border-radius: 3%;

}

button {
display: flex;
margin-left: 43%;
opacity: 0.3;
}
button:hover {
background: rgba(255, 255, 255, 0.637);
opacity: 1;
content: url(./assets/pkball.svg);
width: 5rem;
box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.637);
transform: scale(1.2);
transition: transform .1s;
border: none;
}