#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;


}
div .backcolor {
box-shadow: 0 50px 0 0 white, 0 -50px 0 0 red;

}
.pokemon-img {
  background-color: white;
  border-radius: 3%;
  box-shadow: inset 0 0 10px 5px black;
  width: 600px;
  z-index: 500;
}

h1 {
  color: white;

}
.pokemon-number{
  opacity: 0.5;
  position: absolute;
  font-size: 150px;
  z-index: 0;
  text-shadow: 0 0 5px black;

}

div {
  border-radius: 3%;
}
.pokemon-card {
  box-shadow: inset 0 0 10px 5px black;
}

button {
display: flex;
margin-left: 43%;
opacity: 0.3;
}
button:hover {
background: rgba(255, 255, 255, 0.637);
opacity: 1;
content: url(./assets/pkball.svg);
width: 5rem;
box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.637);
transform: scale(1.2);
transition: transform .1s;
border: none;
}